.App-wrapper {
  display: grid;

  grid-template-areas: "h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.App-header {
  grid-area: h;
  background-color: greenyellow;
}
.App-header img {
  width: 70px;
}

.App-nav {
  grid-area: n;
  background-color: aqua;
}

.App-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}
